@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 20px;
  margin: 20px 0px;
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
}

main {
  padding-top: 6%;
  width: 500px;
  margin: auto;
  height: 80vh;
  text-align: center;
}

article.texto {
  margin-bottom: 20px;
}

section.parte2 {
  text-align: left;
  background-color: #ce771a;
  padding: 30px;
  border-radius: 20px;
  width: 326px;
  margin: auto;
}

label {
  color: #fff;
}

input {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
}

input::placeholder {
  color: #ffffffb2;
}

input:default{
  background-color: transparent;
}

input.enviar {
  padding: 10px;
  border: none;
  background-color: #2e489a;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.texto-erro {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin: 10px;
}

.texto-referencia {
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.texto-referencia > a {
  color: #fff;
  transition-duration: 0.5s;
}

.texto-referencia > a:hover {
  color: #ffffff81;
}

input.enviar:hover {
  background-color: #fff;
  color: #2e489a;
}

main > p > a {
  color: #000;
  transition-duration: 0.5s;
}

main > p > a:hover {
  color: #0000007e;
}

footer {
  background-color: #201304 ;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding: 50px;
}

footer > p > a {
  text-decoration: none;
  color: #fff;
  transition-duration: 0.5s;
}

footer > p > a:hover {
  color: #ffffff81;
}
